@using System.Security.Claims
@inject IPermissionService PermissionService
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@model SakhtemanDto
@{
    Layout = "_Layout";
}

<div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
    <div>
        @if (Model.shod > 0)
        {
            <p class="fw-semibold fs-18 mb-0">اطلاعات بازدید ساختمان</p>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item pointer">
                        <a asp-area="" asp-controller="Home" asp-action="Index">کارتابل</a>
                    </li>
                    <li class="breadcrumb-item pointer">
                        <form method="post" asp-area="Marahel" asp-controller="Visit" asp-action="Index" class="d-inline">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="shop" value="@Model.dShop" />
                            <input type="hidden" name="shod" value="@Model.shod" />
                            <input type="hidden" name="codeMarhaleh" value="@ViewBag.codeMarhaleh" />
                            <button type="submit" class="breadcrumb-link btn btn-link p-0 m-0 text-decoration-none text-primary">
                                مرحله بازدید
                            </button>
                        </form>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">اطلاعات بازدید ساختمان</li>
                </ol>
            </nav>
        }
        else
        {
            <p class="fw-semibold fs-18 mb-0">اطلاعات ساختمان</p>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item pointer">
                        <a asp-area="" asp-controller="Home" asp-action="Index">کارتابل</a>
                    </li>
                    <li class="breadcrumb-item pointer">
                        <form method="post" asp-controller="ParvandehInfo" asp-action="Index" class="d-inline">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="shop" value="@Model.shop" />
                            <button type="submit" class="breadcrumb-link btn btn-link p-0 m-0 text-decoration-none text-primary">
                                اطلاعات پرونده
                            </button>
                        </form>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">اطلاعات ساختمان</li>
                </ol>
            </nav>
        }
        
    </div>
    <div class="btn-list mt-md-0 mt-2">
        @{
            var Savabegh = await PermissionService.HasPermissionAsync(User.FindFirstValue(ClaimTypes.NameIdentifier), "Parvandeh_Savabegh");
            var Karbari = await PermissionService.HasPermissionAsync(User.FindFirstValue(ClaimTypes.NameIdentifier), "Parvandeh_Karbari");

            if (Savabegh)
            {
                <form method="post" asp-controller="Savabegh" asp-action="Index" class="d-inline">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="shop" value="@Model.shop" />
                    <input type="hidden" name="shod" value="@Model.shod" />
                    <input type="hidden" name="NoeParvandeh" value="sakhteman" />
                    <input type="hidden" name="dShop" value="@Model.dShop" />
                    <input type="hidden" name="codeMarhaleh" value="@ViewBag.codeMarhaleh" />
                    <button type="submit" class="btn btn-sm btn-primary btn-wave waves-effect waves-light">سوابق ساختمان</button>
                </form>
            }

            if (Karbari)
            {
                <form method="post" asp-controller="Dv_karbari" asp-action="Index" class="d-inline">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="shop" value="@Model.shop" />
                    <input type="hidden" name="shod" value="@Model.shod" />
                    <input type="hidden" name="NoeParvandeh" value="sakhteman" />
                    <input type="hidden" name="dShop" value="@Model.dShop" />
                    <input type="hidden" name="codeMarhale" value="@ViewBag.codeMarhaleh" />
                    <button type="submit" class="btn btn-sm btn-primary btn-wave waves-effect waves-light">کاربری ساختمان</button>
                </form>
            }

        }
    </div>
</div>

<input type="hidden" value="@Model.shop" id="SakhtemanInfoShop" />
<input type="hidden" id="SakhtemanErrorMessages" value='@(Model.message != null ? Json.Serialize(Model.message) : "[]")' />
<input type="hidden" id="RequestVerificationToken" value="@Antiforgery.GetAndStoreTokens(Context).RequestToken" />

<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    اطلاعات ساختمان
                    @if (!Model.IsValid)
                    {
                        <small class="text-danger"> ( داده های غیرمجاز ) </small>
                    }
                </div>
            </div>
            <div class="card-body d-flex align-items-start">

                <form asp-controller="Sakhteman" asp-action="UpdateSakhteman" method="post" id="SakhtemanInfoForm" autocomplete="off" class="w-100">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="Identity" />
                    <input type="hidden" asp-for="shop" />
                    <input type="hidden" asp-for="radif" />
                    <input type="hidden" asp-for="sh_Darkhast" />
                    <input type="hidden" asp-for="Active" />
                    <input type="hidden" id="shod" name="shod" value="@Model.shod" />
                    <input type="hidden" id="dShop" name="dShop" value="@Model.dShop" />
                    <div class="row">
                        <div class="col-4">
                            <label asp-for="noenama" class="form-label">نوع نما</label>
                            <div class="input-group">
                                <input type="hidden" asp-for="c_noenama" />
                                <input type="text" class="form-control form-control-sm @(Model.IsValid ? "valid" : "not_valid")" asp-for="noenama" readonly="readonly">
                                <button type="button" class="input-group-text SakhtemanInfoReadOnly @(Model.IsValid ? "valid" : "not_valid")" id="SakhtemanInfoNoenamaBtn">...</button>
                            </div>
                        </div>
                        <div class="col-4">
                            <label asp-for="noesaghf" class="form-label">نوع سقف</label>
                            <div class="input-group">
                                <input type="hidden" asp-for="c_noesaghf" />
                                <input type="text" class="form-control form-control-sm @(Model.IsValid ? "valid" : "not_valid")" asp-for="noesaghf" readonly="readonly">
                                <button type="button" class="input-group-text SakhtemanInfoReadOnly @(Model.IsValid ? "valid" : "not_valid")" id="SakhtemanInfoNoesaghfBtn">...</button>
                            </div>
                        </div>
                        <div class="col-4">
                            <label asp-for="noesaghf" class="form-label">مرحله ساختمانی</label>
                            <div class="input-group">
                                <input type="hidden" asp-for="c_marhaleh" />
                                <input type="text" class="form-control form-control-sm @(Model.IsValid ? "valid" : "not_valid")" asp-for="marhaleh" readonly="readonly">
                                <button type="button" class="input-group-text SakhtemanInfoReadOnly @(Model.IsValid ? "valid" : "not_valid")" id="SakhtemanInfoMarhalehBtn">...</button>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row mt-2">
                        <div class="col-4">
                            <label asp-for="noenama" class="form-label">نوع ساختمان</label>
                            <div class="input-group">
                                <input type="hidden" asp-for="c_NoeSakhteman" />
                                <input type="text" class="form-control form-control-sm @(Model.IsValid ? "valid" : "not_valid")" asp-for="NoeSakhteman" readonly="readonly">
                                <button type="button" class="input-group-text SakhtemanInfoReadOnly @(Model.IsValid ? "valid" : "not_valid")" id="SakhtemanInfoNoeSakhtemanBtn">...</button>
                            </div>
                        </div>
                        <div class="col-4">
                            <label asp-for="NoeSaze" class="form-label">نوع سازه</label>
                            <div class="input-group">
                                <input type="hidden" asp-for="c_NoeSaze"/>
                                <input type="text" class="form-control form-control-sm @(Model.IsValid ? "valid" : "not_valid")" asp-for="NoeSaze" readonly="readonly">
                                <button type="button" class="input-group-text SakhtemanInfoReadOnly @(Model.IsValid ? "valid" : "not_valid")" id="SakhtemanInfoNoeSazeBtn">...</button>
                            </div>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="TarikhEhdas" class="form-label">تاریخ احداث بنا</label>
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm flatpickr-input AmardDate SakhtemanInfoReadOnly @(Model.IsValid ? "valid" : "not_valid")" asp-for="TarikhEhdas">
                                <button type="button" class="input-group-text SakhtemanInfoReadOnly clearDateBtn @(Model.IsValid ? "valid" : "not_valid")">
                                    <i class="ri-eraser-line"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-3">
                            <label class="form-label" asp-for="masahatkol">مساحت کل زیربنا</label>
                            <input class="form-control form-control-sm SakhtemanInfoReadOnly @(Model.IsValid ? "valid" : "not_valid")" asp-for="masahatkol" />
                        </div>
                        <div class="col-3">
                            <label class="form-label" asp-for="MasahatZirbana">مساحت زیربنا</label>
                            <input class="form-control form-control-sm SakhtemanInfoReadOnly @(Model.IsValid ? "valid" : "not_valid")" asp-for="MasahatZirbana" />
                        </div>
                        <div class="col-3">
                            <label class="form-label" asp-for="MasahatArse">مساحت سهم العرصه</label>
                            <input class="form-control form-control-sm SakhtemanInfoReadOnly @(Model.IsValid ? "valid" : "not_valid")" asp-for="MasahatArse" />
                        </div>
                        <div class="col-3">
                            <label class="form-label" asp-for="tarakom">مساحت مجاز در پروانه</label>
                            <input class="form-control form-control-sm SakhtemanInfoReadOnly @(Model.IsValid ? "valid" : "not_valid")" asp-for="tarakom" />
                        </div>
                    </div>
                    <div class="row mt-2 align-items-end">
                        <div class="col-3">
                            <label class="form-label" asp-for="satheshghal">سطح اشغال</label>
                            <input class="form-control form-control-sm SakhtemanInfoReadOnly @(Model.IsValid ? "valid" : "not_valid")" asp-for="satheshghal" />
                        </div>
                        <div class="col-3">
                            <label class="form-label" asp-for="satheshghal">ارزش اعیان</label>
                            <input class="form-control form-control-sm SakhtemanInfoReadOnly @(Model.IsValid ? "valid" : "not_valid")" asp-for="ArzeshAyan" />
                        </div>
                        <div class="col-3">
                            <label class="form-label" asp-for="satheshghal">تعداد طبقه</label>
                            <input class="form-control form-control-sm SakhtemanInfoReadOnly @(Model.IsValid ? "valid" : "not_valid")" asp-for="TedadTabaghe" />
                        </div>
                    </div>
                    
                    @{
                        var EditSakhteman = await PermissionService.HasPermissionAsync(User.FindFirstValue(ClaimTypes.NameIdentifier), "Sakhteman_Edit");

                        if (EditSakhteman)
                        {
                            <div class="d-flex align-items-center justify-content-center mt-3 col-12">
                                <a class="btn btn-sm btn-warning mx-1" id="SakhtemanInfoEdit">ویرایش اطلاعات</a>
                                <a class="btn btn-sm btn-danger mx-1" id="SakhtemanInfoCancel">انصراف</a>
                                <button type="submit" class="btn btn-sm btn-success mx-1" id="SakhtemanInfoSubmit">ذخیره اطلاعات</button>
                            </div>
                        }
                    }
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <link href="~/lib/persiandatepicker/persian-datepicker.css" rel="stylesheet" />

    <script src="~/lib/persiandatepicker/persian-date.js"></script>
    <script src="~/lib/persiandatepicker/persian-datepicker.js"></script>

    <script src="~/js/tools/datepeaker.js"></script>
    <script src="~/js/tools/parametric.js"></script>

    <script src="~/js/areas/parvandeh/Sakhteman/Sakhteman.js"></script>
}