@using System.Security.Claims
@inject IPermissionService PermissionService

@model EstelamDto

<div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
    <div>
        <p class="fw-semibold fs-18 mb-0">مرحله پاسخ استعلام</p>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item pointer">
                    <a asp-area="" asp-controller="Home" asp-action="Index">کارتابل</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">مرحله پاسخ استعلام</li>
            </ol>
        </nav>
    </div>
    <div class="btn-list mt-md-0 mt-2">
        @{
            var EstelamKarbari = await PermissionService.HasPermissionAsync(User.FindFirstValue(ClaimTypes.NameIdentifier), "Parvandeh_Karbari");
            var taeedErsal = await PermissionService.HasPermissionAsync(User.FindFirstValue(ClaimTypes.NameIdentifier), "TaeedErsal");

            if (EstelamKarbari)
            {
                <form method="post" asp-area="Parvandeh" asp-controller="Dv_karbari" asp-action="Index" class="d-inline">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="shop" value="@Model.shop" />
                    <input type="hidden" name="shod" value="@Model.Sh_Darkhast" />
                    <input type="hidden" name="dShop" value="@Model.shop" />
                    <input type="hidden" name="codeMarhale" value="@Model.codeMarhaleh" />
                    <button type="submit" class="btn btn-sm btn-primary btn-wave waves-effect waves-light">کاربری های پاسخ استعلام</button>
                </form>
            }
            if (taeedErsal)
            {
                <a class="btn btn-sm btn-success btn-wave waves-effect waves-light" id="TaeedErsal">تأیید و ارسال</a>
            }
        }


    </div>
</div>

<input type="hidden" id="messages" value='@(Model.message != null ? Json.Serialize(Model.message) : "[]")' />

<div class="row">
    <div class="col-12">
        @await Component.InvokeAsync("DarkhastDetail", new { shod = Model.Sh_Darkhast })
    </div>
    <div class="col-12">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    مشخصات پاسخ استعلام
                    @if (!Model.IsValid)
                    {
                        <small class="text-danger"> ( داده های غیرمجاز ) </small>
                    }
                </div>
            </div>
            <div class="card-body">
                <form asp-area="Marahel" asp-controller="Estelam" asp-action="Update" method="post"
                      autocomplete="off" class="w-100" id="EstelamForm">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="Identity" />
                    <input type="hidden" asp-for="shop" />
                    <input type="hidden" asp-for="Sh_Darkhast" />
                    <input type="hidden" asp-for="Sh_Darkhast" id="shod" />
                    <input type="hidden" asp-for="codeMarhaleh" />

                    <div class="row">
                        <div class="col-3">
                            <label asp-for="NoeMalekiat" class="form-label">نوع مالکیت</label>
                            <div class="input-group">
                                <input type="hidden" asp-for="codeNoeMalekiat" />
                                <input type="text" class="form-control form-control-sm @(Model.IsValid ? "valid" : "not_valid")" asp-for="NoeMalekiat" readonly="readonly">
                                <button type="button" class="input-group-text EstelamReadOnly @(Model.IsValid ? "valid" : "not_valid")" id="NoeMalekiatBtn">...</button>
                            </div>
                        </div>
                        <div class="form-group col-3">
                            <label asp-for="Tarikh_Pasokh" class="form-label">تاریخ پاسخ استعلام</label>
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm flatpickr-input AmardDate EstelamReadOnly @(Model.IsValid ? "valid" : "not_valid")" asp-for="Tarikh_Pasokh" disabled="disabled">
                                <button type="button" class="input-group-text EstelamReadOnly AmardDateBtn @(Model.IsValid ? "valid" : "not_valid")">
                                    <i class="ri-calendar-line"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-3">
                            <label class="form-label" asp-for="Sh_Pasokh">شماره پاسخ استعلام</label>
                            <input class="form-control form-control-sm EstelamReadOnly @(Model.IsValid ? "valid" : "not_valid")" asp-for="Sh_Pasokh" />
                        </div>
                        <div class="col-3">
                            <label class="form-label" asp-for="Dang_Enteghal">دانگ مورد انتقال</label>
                            <input class="form-control form-control-sm EstelamReadOnly @(Model.IsValid ? "valid" : "not_valid")" asp-for="Dang_Enteghal" />
                        </div>
                        <div class="col-6 mt-1">
                            <label class="form-label" asp-for="Kharidar">نام خریدار</label>
                            <input class="form-control form-control-sm EstelamReadOnly @(Model.IsValid ? "valid" : "not_valid")" asp-for="Kharidar" />
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <label class="form-label" asp-for="Tozihat">توضیحات</label>
                            <input class="form-control form-control-sm EstelamReadOnly @(Model.IsValid ? "valid" : "not_valid")" asp-for="Tozihat" />
                        </div>
                    </div>
                    @{
                        var EstelamEdit = await PermissionService.HasPermissionAsync(User.FindFirstValue(ClaimTypes.NameIdentifier), "Estelam_Edit");

                        if (EstelamEdit)
                        {
                            <div class="d-flex align-items-center justify-content-center mt-3 col-12">
                                <a class="btn btn-sm btn-warning mx-1" id="Edit">ویرایش اطلاعات</a>
                                <a class="btn btn-sm btn-danger mx-1" id="Cancel">انصراف</a>
                                <button type="submit" class="btn btn-sm btn-success mx-1" id="Submit">ذخیره اطلاعات</button>
                            </div>
                        }
                    }
                </form>

            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <link href="~/lib/persiandatepicker/persian-datepicker.css" rel="stylesheet" />

    <script src="~/lib/persiandatepicker/persian-date.js"></script>
    <script src="~/lib/persiandatepicker/persian-datepicker.js"></script>

    <script src="~/js/tools/datepeaker.js"></script>

    <script src="~/js/tools/parametric.js"></script>
    <script src="~/js/areas/marahel/estelam/estelam.js"></script>
    <script src="~/js/areas/marahel/taeedersal/taeedersal.js"></script>
}
