@using System.Security.Claims
@inject IPermissionService PermissionService

@model List<Dv_malekinDTO>
@{
    Layout = "_Layout";
}

<div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
    <div>
        @if (ViewBag.shod > 0)
        {
            @if (ViewBag.NoeParvandeh == "melk")
            {
                <p class="fw-semibold fs-18 mb-0">اطلاعات بازدید ملک</p>
            }
            else if (ViewBag.NoeParvandeh == "aparteman")
            {
                <p class="fw-semibold fs-18 mb-0">اطلاعات بازدید آپارتمان</p>
            }
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item pointer">
                        <a asp-area="" asp-controller="Home" asp-action="Index">کارتابل</a>
                    </li>
                    <li class="breadcrumb-item pointer">
                        <form method="post" asp-area="Marahel" asp-controller="Visit" asp-action="Index" class="d-inline">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="shop" value="@ViewBag.dShop" />
                            <input type="hidden" name="shod" value="@ViewBag.shod" />
                            <input type="hidden" name="codeMarhaleh" value="@ViewBag.codeMarhaleh" />
                            <button type="submit" class="btn btn-link p-0 m-0 text-decoration-none text-primary">مرحله بازدید</button>
                        </form>
                    </li>
                    @if (ViewBag.NoeParvandeh == "melk")
                    {
                        <li class="breadcrumb-item pointer">
                            <form method="post" asp-area="Parvandeh" asp-controller="Melk" asp-action="PropertyDetails" class="d-inline">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="shop" value="@ViewBag.shop" />
                                <input type="hidden" name="shod" value="@ViewBag.shod" />
                                <input type="hidden" name="dShop" value="@ViewBag.dShop" />
                                <input type="hidden" name="codeMarhaleh" value="@ViewBag.codeMarhaleh" />
                                <button type="submit" class="btn btn-link p-0 m-0 text-decoration-none text-primary">اطلاعات بازدید ملک</button>
                            </form>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">مالکین ملک</li>
                    }
                    else if (ViewBag.NoeParvandeh == "aparteman")
                    {
                        <li class="breadcrumb-item pointer">
                            <form method="post" asp-area="Parvandeh" asp-controller="Apartman" asp-action="Index" class="d-inline">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="strShoP" value="@ViewBag.shop" />
                                <input type="hidden" name="shod" value="@ViewBag.shod" />
                                <input type="hidden" name="dShop" value="@ViewBag.dShop" />
                                <input type="hidden" name="codeMarhaleh" value="@ViewBag.codeMarhaleh" />
                                <button type="submit" class="btn btn-link p-0 m-0 text-decoration-none text-primary">اطلاعات بازدید آپارتمان</button>
                            </form>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">مالکین آپارتمان</li>
                    }
                </ol>
            </nav>

        }
        else
        {
            @if (ViewBag.NoeParvandeh == "melk")
            {
                <p class="fw-semibold fs-18 mb-0">اطلاعات ملک</p>
            }
            else if (ViewBag.NoeParvandeh == "aparteman")
            {
                <p class="fw-semibold fs-18 mb-0">اطلاعات آپارتمان</p>
            }
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item pointer">
                        <a asp-area="" asp-controller="Home" asp-action="Index">کارتابل</a>
                    </li>
                    <li class="breadcrumb-item pointer">
                        <form method="post" asp-controller="ParvandehInfo" asp-action="Index" class="d-inline">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="shop" value="@ViewBag.shop" />
                            <button type="submit" class="btn btn-link p-0 m-0 text-decoration-none text-primary">اطلاعات پرونده</button>
                        </form>
                    </li>
                    @if (ViewBag.NoeParvandeh == "melk")
                    {
                        <li class="breadcrumb-item pointer">
                            <form method="post" asp-area="Parvandeh" asp-controller="Melk" asp-action="PropertyDetails" class="d-inline">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="shop" value="@ViewBag.shop" />
                                <button type="submit" class="btn btn-link p-0 m-0 text-decoration-none text-primary">اطلاعات ملک</button>
                            </form>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">مالکین ملک</li>
                    }
                    else if (ViewBag.NoeParvandeh == "aparteman")
                    {
                        <li class="breadcrumb-item pointer">
                            <form method="post" asp-area="Parvandeh" asp-controller="Apartman" asp-action="Index" class="d-inline">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="strShoP" value="@ViewBag.shop" />
                                <input type="hidden" name="shod" value="@ViewBag.shod" />
                                <input type="hidden" name="dShop" value="@ViewBag.dShop" />
                                <button type="submit" class="btn btn-link p-0 m-0 text-decoration-none text-primary">اطلاعات آپارتمان</button>
                            </form>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">مالکین آپارتمان</li>
                    }
                </ol>
            </nav>

        }
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header">
                @{
                    var CreateMalekin = await PermissionService.HasPermissionAsync(User.FindFirstValue(ClaimTypes.NameIdentifier), "Malekin_Create");

                    if (CreateMalekin)
                    {
                        <button class="btn btn-sm btn-success" id="CreateMalek"> ایجاد مالک جدید </button>
                    }
                }

                <input type="hidden" value="@ViewBag.shop" id="MalekinShop" />
                <input type="hidden" value="@ViewBag.radif" id="MalekinRadif" />
                <input type="hidden" value="@ViewBag.NoeParvandeh" id="MalekinNoeParvandeh" />
                <input type="hidden" value="@ViewBag.message" id="MalekinMessage" />
            </div>
            <div class="card-body">
                @if (Model.Any())
                {
                    <table class="table text-nowrap table-bordered table-hover AmardDataTable">
                        <thead>
                            <tr>
                                <th scope="col" class="gridjs-th-fixed">نوع مالک</th>
                                <th scope="col" class="gridjs-th-fixed">نام مالک</th>
                                <th scope="col" class="gridjs-th-fixed">نام خانوادگی مالک</th>
                                <th scope="col" class="gridjs-th-fixed">کد ملی</th>
                                <th scope="col" class="gridjs-th-fixed">عملیات</th>
                            </tr>
                        </thead>
                        <tbody class="hover">
                            @foreach (var item in Model)
                            {
                                <tr class="text-center">
                                    <td class="@(item.IsValid ? "valid" : "not_valid")">@item.noemalek</td>
                                    <td class="@(item.IsValid ? "valid" : "not_valid")">@item.name</td>
                                    <td class="@(item.IsValid ? "valid" : "not_valid")">@item.family</td>
                                    <td class="@(item.IsValid ? "valid" : "not_valid")">@item.kodemeli</td>
                                    <td class="@(item.IsValid ? "valid" : "not_valid")">
                                        <div class="hstack gap-2 flex-wrap">
                                            @{
                                                var EditMalekin = await PermissionService.HasPermissionAsync(User.FindFirstValue(ClaimTypes.NameIdentifier), "Malekin_Edit");

                                                if (EditMalekin)
                                                {
                                                    <a class="text-warning fs-20 lh-1 pointer MalekinEditRow" id="Malekin-@item.Identity" data-identity="@item.Identity">
                                                        <i class="ri-edit-box-fill"></i>
                                                    </a>
                                                }


                                                var DeleteMalekin = await PermissionService.HasPermissionAsync(User.FindFirstValue(ClaimTypes.NameIdentifier), "Malekin_Delete");

                                                if (DeleteMalekin)
                                                {
                                                    <form method="post" asp-controller="Malekin" asp-action="Delete" class="d-inline">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="id" value="@item.Identity" />
                                                        <input type="hidden" name="shop" value="@item.shop" />
                                                        <input type="hidden" name="noeParvandeh" value="@item.mtable_name" />
                                                        <input type="hidden" name="shod" value="@ViewBag.shod" />
                                                        <input type="hidden" name="dShop" value="@ViewBag.dShop" />
                                                        <button type="submit" class="btn p-0 text-danger fs-20 lh-1">
                                                            <i class="ri-delete-bin-6-fill"></i>
                                                        </button>
                                                    </form>

                                                }
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-danger" role="alert"> موردی برای نمایش وجود ندارد! </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts
{

    <link href="~/theme/assets/libs/datatable/datatables.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/theme/assets/libs/datatable/responsive.bootstrap.min.css" rel="stylesheet" />
    <script src="~/Theme/assets/libs/datatable/jquery.datatables.min.js"></script>
    <script src="~/Theme/assets/libs/datatable/datatables.bootstrap5.min.js"></script>
    <script src="~/Theme/assets/libs/datatable/datatables.responsive.min.js"></script>

    <script src="~/js/areas/parvandeh/malekin/malekin.js"></script>
}
