@using System.Security.Claims
@inject IPermissionService PermissionService

@model List<ActivityLogFiltersDto>

@{
    Layout = "_Layout";
}

<div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
    <div>
        <p class="fw-semibold fs-18 mb-0">مدیریت نرم افزار</p>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item pointer">
                    <a asp-area="" asp-controller="Home" asp-action="Index">کارتابل</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">گزارشات فعال</li>
            </ol>
        </nav>

    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header">
                @{
                    var ActivityLogFilters_Create = await PermissionService.HasPermissionAsync(User.FindFirstValue(ClaimTypes.NameIdentifier), "ActivityLogFilters_Create");
                    if (ActivityLogFilters_Create)
                    {
                        <button class="btn btn-sm btn-success" id="CreateActivityLogFilters"> ایجاد </button>
                    }
                }

            </div>
            <div class="card-body">
                @if (Model != null)
                {
                    <table class="table text-nowrap table-bordered table-hover AmardDataTable">
                        <thead>
                            <tr>
                                <th scope="col" class="gridjs-th-fixed">نام فرم</th>
                                <th scope="col" class="gridjs-th-fixed">گزارش نمایش</th>
                                <th scope="col" class="gridjs-th-fixed">گزارش ایجاد</th>
                                <th scope="col" class="gridjs-th-fixed">گزارش ویرایش</th>
                                <th scope="col" class="gridjs-th-fixed">گزارش حذف</th>
                                <th scope="col" class="gridjs-th-fixed">عملیات</th>
                            </tr>
                        </thead>
                        <tbody class="hover">
                            @foreach (var Ip in Model)
                            {
                                <tr class="text-center">
                                    <td class="@(Ip.IsValid ? "valid" : "not_valid")">@Ip.TableName</td>
                                    <td class="@(Ip.IsValid ? "valid" : "not_valid")">@(Ip.GetStatus ? "فعال" : "غیر فعال")</td>
                                    <td class="@(Ip.IsValid ? "valid" : "not_valid")">@(Ip.AddStatus ? "فعال" : "غیر فعال")</td>
                                    <td class="@(Ip.IsValid ? "valid" : "not_valid")">@(Ip.UpdateStatus ? "فعال" : "غیر فعال")</td>
                                    <td class="@(Ip.IsValid ? "valid" : "not_valid")">@(Ip.DeleteStatus ? "فعال" : "غیر فعال")</td>
                                    <td class="@(Ip.IsValid ? "valid" : "not_valid")">
                                        <div class="hstack gap-2 flex-wrap">
                                            @{
                                                var ActivityLogFilters_Edit = await PermissionService.HasPermissionAsync(User.FindFirstValue(ClaimTypes.NameIdentifier), "ActivityLogFilters_Edit");
                                                var ActivityLogFilters_Delete = await PermissionService.HasPermissionAsync(User.FindFirstValue(ClaimTypes.NameIdentifier), "ActivityLogFilters_Delete");

                                                if (ActivityLogFilters_Edit)
                                                {
                                                    <a class="text-warning fs-20 lh-1 pointer ActivityLogFiltersEditRow" id="Ip-@Ip.Identity" data-identity="@Ip.Identity">
                                                        <i class="ri-edit-box-fill"></i>
                                                    </a>
                                                }
                                                if (ActivityLogFilters_Delete)
                                                {
                                                    <a class="text-danger fs-20 lh-1 pointer ActivityLogFiltersDeleteRow" id="Ip-@Ip.Identity" data-identity="@Ip.Identity">
                                                        <i class="ri-delete-bin-6-fill"></i>
                                                    </a>
                                                }
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-danger" role="alert"> موردی برای نمایش وجود ندارد! </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <link href="~/theme/assets/libs/datatable/datatables.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/theme/assets/libs/datatable/responsive.bootstrap.min.css" rel="stylesheet" />
    <script src="~/Theme/assets/libs/datatable/jquery.datatables.min.js"></script>
    <script src="~/Theme/assets/libs/datatable/datatables.bootstrap5.min.js"></script>
    <script src="~/Theme/assets/libs/datatable/datatables.responsive.min.js"></script>

    <script src="~/js/areas/setting/ActivityLogFilters.js"></script>
}