@model List<KartableDTO>

<div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">

    <div>
        <p class="fw-semibold fs-18 mb-0">بایگانی پرونده</p>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item pointer">
                    <a asp-area="" asp-controller="Home" asp-action="Index">کارتابل</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">بایگانی پرونده</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title"> پرونده های بایگانی شده </div>
            </div>
            <div class="card-body">
                <table id="responsiveDataTable" class="table table-bordered text-nowrap DataTable table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="gridjs-th-fixed">شماره درخواست</th>
                            <th scope="col" class="gridjs-th-fixed">شماره پرونده</th>
                            <th scope="col" class="gridjs-th-fixed">کد نوسازی</th>
                            <th scope="col" class="gridjs-th-fixed">مرحله</th>
                            <th scope="col" class="gridjs-th-fixed">نوع درخواست</th>
                            <th scope="col" class="gridjs-th-fixed">تاریخ درخواست</th>
                            <th scope="col" class="gridjs-th-fixed">نام متقاضی</th>
                        </tr>
                    </thead>
                    <tbody class="hover">
                        @foreach (var item in Model)
                        {
                            <tr class="text-center">
                                <td class="@(item.IsValid ? "valid" : "not_valid")">@item.sh_darkhast</td>
                                <td class="@(item.IsValid ? "valid" : "not_valid")">@item.shop</td>
                                <td class="@(item.IsValid ? "valid" : "not_valid")">@item.code_nosazi</td>
                                <td class="@(item.IsValid ? "valid" : "not_valid")">@item.marhaleh</td>
                                <td class="@(item.IsValid ? "valid" : "not_valid")">@item.noedarkhast</td>
                                <td class="@(item.IsValid ? "valid" : "not_valid")">@item.tarikh_darkhast</td>
                                <td class="@(item.IsValid ? "valid" : "not_valid")">@item.name_mot</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <link href="~/theme/assets/libs/datatable/datatables.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/theme/assets/libs/datatable/responsive.bootstrap.min.css" rel="stylesheet" />
    <script src="~/Theme/assets/libs/datatable/jquery.datatables.min.js"></script>
    <script src="~/Theme/assets/libs/datatable/datatables.bootstrap5.min.js"></script>
    <script src="~/Theme/assets/libs/datatable/datatables.responsive.min.js"></script>
}
